.sidebar {

}

.item-sidebar {
	position: relative;
	padding: 45px 25px 30px;
	background-color: var(--background-color-content);
	border: 1px solid var(--border-color-theme);
	border-radius: 15px;

	// .item-sidebar__label
	&__label {
		position: absolute;
		top: -20px;
		z-index: 2;
		padding: 4px 25px;
		font-size: 20px;
		line-height: 1.4;
		font-weight: 700;
		background-color: #fff;
		border: 1px solid var(--border-color-theme);
		border-radius: 100px;
	}
}