.wrapper {
	display: grid;
	grid-template-columns: 320px 1fr;
	min-height: 100%;

	/** Поменять на clip - если используется в проекте position: sticky */
	overflow: hidden;
}

.page {
	background-color: var(--color-gray-1);
}
.auth-container {
	display: flex;
	align-items: center;
	min-height: 100%;

	&__content {
		width: 100%;
		max-width: 460px;
		margin: 0 auto;
		padding: 30px 50px;
		border-radius: 4px;

		background-color: var(--color-gray-1);
		box-shadow: 0 0 20px rgba(#000, 5%);
	}
}
