// Firefox
* {
	$scroll-bar-radius: 0;

	scrollbar-width: thin;
	scrollbar-color: var(--color-main) #d6d6d6;

	// Chrome, Edge, and Safari
	&::-webkit-scrollbar {
		width: 8px;
		background-color: var(--color-white);
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(#000, 20%);
		border-radius: $scroll-bar-radius;
		background: #eee;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $scroll-bar-radius;
		border: 0 none #fff;
		background-color: var(--color-main, #333);

		&:hover {
			background-color: var(--color-main-hover, #333);
		}
	}
}
